[submodule "Serial"]
	path = Serial
	url = https://github.com/nick-fetcko/Serial
[submodule "Utils"]
	path = Utils
	url = https://github.com/nick-fetcko/Utils
[submodule "OpenGL"]
	path = OpenGL
	url = https://github.com/nick-fetcko/OpenGL
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
