[submodule "MathCPP"]
	path = MathCPP
	url = https://github.com/nick-fetcko/MathCPP
[submodule "Serial"]
	path = Serial
	url = https://github.com/nick-fetcko/Serial
[submodule "Utils"]
	path = Utils
	url = https://github.com/nick-fetcko/Utils
[submodule "OpenGL"]
	path = OpenGL
	url = https://github.com/nick-fetcko/OpenGL
